
@import "tailwindcss";

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full  uppercase text-xs 
    tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A66] hover:text-[#F7AB0A66] cursor-pointer;
  }
  
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
  }
}

/* custom-scrollbar.css (or just put it inside global css) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(156, 163, 175, 0.2); /* gray-400/20 */
}

::-webkit-scrollbar-thumb {
  background-color: #F7AB0A;
  border-radius: 10px;
  border: 3px solid transparent; /* Increase padding */
  background-clip: content-box;  /* Keeps the thumb inside */
}



/* Global.css or main.css */
/* ::-webkit-scrollbar {
  display: none; 
} */
